@import './header.tokens.scss';

.header {
  --header-fg: var(--header-element-font-color-light);

  padding-top: 2rem;
  min-height: var(--header-minimal-height);
  display: flex;
  align-items: center;

  &__nav {
    display: flex;
    align-items: center;

    &--desktop {
      display: flex;
      flex-direction: row;
      gap: 2.75rem;
      min-height: 1px;
      list-style: none;
      align-items: baseline;
    }

    &--element {
      flex-grow: 1;
      text-transform: uppercase;
      font-weight: 700;
      color: var(--header-fg);
      font-size: var(--header-element-font-size);
    }

    &--auth-elements {
      display: flex;
      flex-direction: row;
      gap: 1rem;
    }
  }
}
