@import './announcements.tokens.scss';

.announcements-block {
  --border-color: var(--announcements-block-border-color-light);

  border: 3px solid var(--border-color);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  padding: 2rem;
}
