:root {
  //colors
  --select-primary-line-color-light: #ffffff;
  --select-primary-font-color-light: #a15267;

  --select-secondary-line-color-light: #fe4a6b;
  --select-secondary-font-color-light: #a15267;

  //sizes
  --select-label-font-size: 20px;

  //shadows
}
