@import './container.tokens.scss';

.container {
  --max-width: 100%;
  --gutter: var(--container-gutter);

  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  padding-left: var(--gutter);
  padding-right: var(--gutter);
  max-width: calc(var(--max-width) + (var(--gutter) * 2));
}
