:root {
  --button-background-color: #fe4a6b;
  --button-font-color: #fff5cd;

  //primary

  //secondary

  //large
  --button-large-height: 2rem;
  --button-large-font-size: 20px;
  --button-large-padding: 3px 21px;

  //small
  --button-small-height: 1.75rem;
  --button-small-font-size: 16px;
  --button-small-padding: 3px 21px;
}
