:root {
  --background: linear-gradient(180deg, #fff5cd 0%, #ffd6d8 49.52%);
  --foreground: #171717;
  --fc-page-bg-color: transparent;
}

html {
  color-scheme: light;
}

html,
body {
  height: 100%;
  margin: 0;
  color: var(--foreground);
  background: var(--background);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.page-layout {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.main {
  padding: 0 10rem;
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 3rem;
  margin-bottom: 3rem;
  align-items: center;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  align-items: center;
}
