@import './footer.tokens.scss';

.footer {
  --footer-bg: var(--footer-background-color-light);
  --footer-fg: var(--footer-font-color-light);

  background: var(--footer-bg);
  color: var(--footer-fg);
  min-height: var(--footer-minimal-height);

  display: flex;
  align-items: center;
  width: 100%;

  &__content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;

    p {
      display: inline;
    }
  }

  &__email {
    display: flex;
    gap: 1.25rem;
    align-items: center;
    text-transform: uppercase;
  }

  &__links {
    ul {
      display: inline-flex;
      gap: 2.5rem;
      list-style: none;
    }
  }
}
