@import "./input.tokens.scss";

.input-field {
  --label-font-color: var(--input-label-font-color);
  --label-font-size: var(--input-label-font-size);
  --container-bg: var(--input-container-background-color);
  --container-shadow: var(--input-container-shadow);

  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  color: var(--label-font-color);
  font-size: var(--label-font-size);

  &__container {
    height: var(--input-container-height);
    background: var(--container-bg);
    box-shadow: var(--container-shadow);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    padding: 10px 8px;

    input {
      background: transparent;
      border: 0;
      border-bottom: 1px solid #ffffff;
      font-family: inherit;
      padding: 4px;
      flex-grow: 1;
      font-size: 20px;
    }
  }
}
